h1{
    color: blue;
    text-align: center;
}

.bg-holder{
    width: 20%;
    height: 700px;
    border-width: 2px 1px;
    border-style: solid;
    border-color: black;
    animation-name: shorten;
    animation-duration: 300ms;
    overflow: hidden;
}

@keyframes widen{
    from {width: 20%;}
    to {width: 100%;}
}
@keyframes shorten{
    from {width: 100%;}
    to {width: 20%;}
}

.bg-holder:hover{
    width: 100%;
    animation-name: widen;
    animation-duration: 300ms;
}

.bg-holder img{
    height: 100%;
    object-fit: contain;
}

.bg-container{
    display: flex;
}