h1{
    color: blue;
    text-align: center;
}

.bg-holder{
    width: 20%;
    height: 700px;
    overflow: hidden;
    
}

.bg-holder img{
    object-fit: fill;
}

.bg-container{
    display: flex;
}